
div.checkbox {
    display: inline;
}

input.ng-model {
    width: 125px;
    margin: 3px; 
    text-align: center;
}

button.ng-model {
    width: 125px;
    margin: 5px; 
    text-align: center;
}

select {
    width: 125px;
    margin: 5px;
    padding: 2px 10px;
}


.locationTable, .locationTable th, .locationTable td  {
    border: 1px black solid;
}

.locationTable th, .locationTable td  {
    padding: 2px 10px;
}

.locationTable .stateName {
    padding: 0px 10px 0px 30px;
}

.locationTable .cityName {
    padding: 0px 10px 0px 50px;
}